.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
}

.redBallWeb1{
    position: absolute;
    top: 66px;
    left: 502px; 
}

.redBallWeb2{
    position: absolute;
    top: 530px;
    left: 834px; 
}

.purpleBallWeb1{
    position: absolute;
    top: 2px;
    left: 851px; 
}