.container{
    width: 259px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 259px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
    position: absolute;
    top: 241px;
    left: -55px;
}