.container{
    display: flex;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}