.container{
    width: 259px;
    height: 259px;
    flex-shrink: 0;
    border-radius: 259px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
    position: absolute;
    left: 258px;
    top: 107px;
}